{% extends 'base.html.twig' %}

{% block title %}
	Anúncio
{% endblock %}

{% block body %}
<section>
	<div class="wrapper">
		<div class="row">
			<aside class="col-md-3 hidden-xs">
				<div class="block">
					<strong>Navegue aqui</strong>
					<nav>
						<ul>
							<li>
								Trabalho
							</li>
							<li>
								Freela
							</li>
							<li>
								Jogos
							</li>
							<li>
								Ferramentas
							</li>
						</ul>
					</nav>
				</div>
			</aside>
			<article class="col-md-9 col-xs-12">
				<div class="item col-md-4 col-xs-6">
					<a href="#">
						<strong>Trabalho 1</strong>
					</a>
					<small>
						10.04.2015 - 
						<a href="#">André</a> - 
						<a href="#">Jogos</a>
					</small>
				</div>
				<div class="item col-md-4 col-xs-6">
					<a href="#">
						<strong>Trabalho 1</strong>
					</a>
					<small>
						10.04.2015 - 
						<a href="#">André</a> - 
						<a href="#">Jogos</a>
					</small>
				</div>
				<div class="item col-md-4 col-xs-6">
					<a href="#">
						<strong>Trabalho 1</strong>
					</a>
					<small>
						10.04.2015 - 
						<a href="#">André</a> - 
						<a href="#">Jogos</a>
					</small>
				</div>
				<div class="item col-md-4 col-xs-6">
					<a href="#">
						<strong>Trabalho 1</strong>
					</a>
					<small>
						10.04.2015 - 
						<a href="#">André</a> - 
						<a href="#">Jogos</a>
					</small>
				</div>
				<div class="item col-md-4 col-xs-6">
					<a href="#">
						<strong>Trabalho 1</strong>
					</a>
					<small>
						10.04.2015 - 
						<a href="#">André</a> - 
						<a href="#">Jogos</a>
					</small>
				</div>
				<div class="item col-md-4 col-xs-6">
					<a href="#">
						<strong>Trabalho 1</strong>
					</a>
					<small>
						10.04.2015 - 
						<a href="#">André</a> - 
						<a href="#">Jogos</a>
					</small>
				</div>
			</article>	
		</div>
	</div>
</section>
{% endblock %}